@page "/meetings/{meetingId}"
@inject NavigationManager NavigationManager
@inject MeetingManager MeetingManager

@if (_meeting == null)
{
    <PageTitle>NextTime - Meeting Details</PageTitle>
    <LoadingScreen />
    return;
}

<PageTitle>NextTime - @_meeting.Title</PageTitle>

<div class="text-center space-y-4">
    <h1 class="font-extrabold">NEXT<span class="text-amber-500">TIME</span></h1>
    <h2 class="text-4xl font-bold">@_meeting.Title</h2>
    <div class="space-x-2 flex justify-center items-center">
        <img src="/img/clock.svg" alt="Clock" height="24" width="24" />
        @if (_meeting.Duration.TotalDays >= 1)
        {
            <p>Entire Day</p>
        }
        else if (_meeting.Duration.TotalHours >= 12)
        {
            <p>Around @(_meeting.Duration.Hours - 4)-@(_meeting.Duration.Hours) Hours</p>
        }
        else if (_meeting.Duration.TotalHours >= 6)
        {
            <p>Around @(_meeting.Duration.Hours - 2)-@(_meeting.Duration.Hours) Hours</p>
        }
         else if (_meeting.Duration.TotalHours >= 3)
        {
            <p>Around @(_meeting.Duration.Hours - 1)-@(_meeting.Duration.Hours) Hours</p>
        }
        else
        {
            <p>Around 1 Hour</p>
        }
    </div>
    @if (!string.IsNullOrWhiteSpace(_meeting.Description))
    {
        <p>@_meeting.Description</p>
    }
    <div class="py-4">
        <div class="w-full h-1 bg-gray-100 rounded-xl" />
    </div>
    @if (_hasAnyPreferences && _recommendedTime != null)
    {
        <h3 class="text-center text-gray-500 font-bold">RECOMMENDED TIME</h3>
        <p class="text-center text-2xl font-bold">@_recommendedTime.Value.ToString("dddd, dd MMMM HH:mm")</p>
    }
    else
    {
        <p>No one has suggested a time for this event yet.</p>
    }
    <div class="pt-4">
        <NTButton Style="ButtonStyle.Accent" Clicked="NavigateToPreferenceEdition">
            @if (_hasUserAnyPreferences)
            {
                <span>Edit My Preferences</span>
            }
            else
            {
                <span>Add My Preferences</span>
            }
        </NTButton>
    </div>
</div>

@code {
    private Meeting? _meeting;

    private DateTimeOffset? _recommendedTime;

    private bool _hasAnyPreferences;

    private bool _hasUserAnyPreferences;

    [Parameter]
    public string? MeetingId { get; set; }

    [CascadingParameter]
    public ApplicationUser? User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Guid.TryParse(MeetingId, out var meetingGuid))
        {
            _meeting = await MeetingManager.FindByIdAsync(meetingGuid);
        }

        if (_meeting == null || User == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        _hasAnyPreferences = await MeetingManager.GetPreferences(_meeting.Id).AnyAsync();
        _hasUserAnyPreferences = await MeetingManager.GetPreferences(_meeting.Id, User.Id).AnyAsync();

        if (_hasAnyPreferences)
        {
            _recommendedTime = await MeetingManager
            .GetPreferences(_meeting.Id)
            .AsNoTracking()
            .GroupBy(s => s.PreferredTime)
            .OrderByDescending(g => g.Count())
            .Select(g => g.Key)
            .FirstOrDefaultAsync();
        }
    }

    private void NavigateToPreferenceEdition()
    {
        if (_meeting != null)
        {
            NavigationManager.NavigateTo($"/meetings/{_meeting.Id}/edit-preferences");
        }
    }
}
