@page "/meetings/{meetingId}/edit-preferences"
@inject NavigationManager NavigationManager
@inject MeetingManager MeetingManager
@inject PreferenceManager PreferenceManager

<PageTitle>NextTime - Edit Preferences</PageTitle>

@if (_meeting == null || User == null)
{
    <LoadingScreen />
    return;
}

<div class="space-y-8">
    <div class="space-y-4">
        <h1 class="text-4xl font-bold">When can you take part in "@_meeting.Title"?</h1>
        <p>Choose all days and hours that suit you. NextTime will try to find the best date for everyone.</p>
    </div>
    <div class="space-y-2">
        @foreach (var selectableDay in _selectableDays)
        {
            <NTCheckBox @bind-IsChecked="selectableDay.IsSelected">@selectableDay.FriendlyDate</NTCheckBox>
            @if (selectableDay.IsSelected)
            {
                <div class="flex space-x-1 text-xs sm:text-base">
                    <NTCheckBox IsCompact="true" @bind-IsChecked="@selectableDay.Is8AMSelected">8:00</NTCheckBox>
                    <NTCheckBox IsCompact="true" @bind-IsChecked="@selectableDay.Is10AMSelected">10:00</NTCheckBox>
                    <NTCheckBox IsCompact="true" @bind-IsChecked="@selectableDay.Is12PMSelected">12:00</NTCheckBox>
                    <NTCheckBox IsCompact="true" @bind-IsChecked="@selectableDay.Is4PMSelected">16:00</NTCheckBox>
                    <NTCheckBox IsCompact="true" @bind-IsChecked="@selectableDay.Is6PMSelected">18:00</NTCheckBox>
                    <NTCheckBox IsCompact="true" @bind-IsChecked="@selectableDay.Is8PMSelected">20:00</NTCheckBox>
                </div>
                <div class="w-full h-1 bg-gray-100 rounded-xl" />
            }
        }
    </div>
    <NTButton Clicked="LoadMoreDaysAsync">Show more days</NTButton>
    <div class="space-y-4">
        <NTButton Style="ButtonStyle.Accent" Clicked="SavePreferencesAsync">Save Preferences</NTButton>
        <NTButton Clicked="NavigateToMeetingDetails">Cancel Changes</NTButton>
    </div>
</div>

@code {
    private Meeting? _meeting;

    private List<SelectableDay> _selectableDays = [];

    [Parameter]
    public string? MeetingId { get; set; }

    [CascadingParameter]
    public ApplicationUser? User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Guid.TryParse(MeetingId, out var meetingGuid))
        {
            _meeting = await MeetingManager.FindByIdAsync(meetingGuid);
        }

        if (_meeting == null)
        {
            NavigationManager.NavigateTo("/");
        }

        await LoadMoreDaysAsync();
    }

    private async Task LoadMoreDaysAsync()
    {
        var lastTime = _selectableDays.LastOrDefault()?.Time ?? DateTimeOffset.UtcNow.Date;
        for (var i = 1; i <= 14; i++)
        {
            var futureTime = lastTime.AddDays(i);
            _selectableDays.Add(new SelectableDay(futureTime));
        }

        await LoadPreferencesAsync();
    }

    private async Task LoadPreferencesAsync()
    {
        if (_meeting == null || User == null)
        {
            return;
        }

        await foreach (var preference in MeetingManager.GetPreferences(_meeting.Id, User.Id).AsNoTracking().AsAsyncEnumerable())
        {
            var selectableDay = _selectableDays.FirstOrDefault(d => d.Time.Date == preference.PreferredTime.Date);
            if (selectableDay != null)
            {
                var isAnySelected = false;

                if (preference.PreferredTime.Hour == 8)
                {
                    selectableDay.Is8AMSelected = true;
                    isAnySelected = true;
                }

                if (preference.PreferredTime.Hour == 10)
                {
                    selectableDay.Is10AMSelected = true;
                    isAnySelected = true;
                }

                if (preference.PreferredTime.Hour == 12)
                {
                    selectableDay.Is12PMSelected = true;
                    isAnySelected = true;
                }

                if (preference.PreferredTime.Hour == 16)
                {
                    selectableDay.Is4PMSelected = true;
                    isAnySelected = true;
                }

                if (preference.PreferredTime.Hour == 18)
                {
                    selectableDay.Is6PMSelected = true;
                    isAnySelected = true;
                }

                if (preference.PreferredTime.Hour == 20)
                {
                    selectableDay.Is8PMSelected = true;
                    isAnySelected = true;
                }

                if (isAnySelected)
                {
                    selectableDay.IsSelected = true;
                }
            }
        }
    }

    private async Task SavePreferencesAsync()
    {
        if (_meeting == null || User == null)
        {
            return;
        }

        var preferences = new List<Preference>();
        foreach (var selectableDay in _selectableDays.Where(d => d.IsSelected))
        {
            if (selectableDay.Is8AMSelected)
            {
                var preference = new Preference(_meeting.Id, User.Id, selectableDay.Time.AddHours(8));
                preferences.Add(preference);
            }

            if (selectableDay.Is10AMSelected)
            {
                var preference = new Preference(_meeting.Id, User.Id, selectableDay.Time.AddHours(10));
                preferences.Add(preference);
            }

            if (selectableDay.Is12PMSelected)
            {
                var preference = new Preference(_meeting.Id, User.Id, selectableDay.Time.AddHours(12));
                preferences.Add(preference);
            }

            if (selectableDay.Is4PMSelected)
            {
                var preference = new Preference(_meeting.Id, User.Id, selectableDay.Time.AddHours(16));
                preferences.Add(preference);
            }

            if (selectableDay.Is6PMSelected)
            {
                var preference = new Preference(_meeting.Id, User.Id, selectableDay.Time.AddHours(18));
                preferences.Add(preference);
            }

            if (selectableDay.Is8PMSelected)
            {
                var preference = new Preference(_meeting.Id, User.Id, selectableDay.Time.AddHours(20));
                preferences.Add(preference);
            }
        }

        await MeetingManager.DeletePreferencesAsync(_meeting.Id, User.Id);
        await PreferenceManager.CreateRangeAsync(preferences);

        NavigateToMeetingDetails();
    }

    void NavigateToMeetingDetails()
    {
        NavigationManager.NavigateTo($"/meetings/{MeetingId}");
    }
}
